/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-purple: #6a1b9a;
    --vt-c-purple-alpha: #691b9a2f;
    --vt-c-purple-soft: #7b1fa2;
    --vt-c-purple-mute: #8e44ad;
    --vt-c-purple-light: #9c27b0;
    --vt-c-purple-lighter: #ab47bc;
    --vt-c-purple-lightest: #ba68c8;
    --vt-c-purple-dark: #5e35b1;
    --vt-c-purple-darker: #512da8;
    --vt-c-purple-darkest: #4527a0;
    --vt-c-purple-darkest-alpha: #4527a02f;


    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-black-mute);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-light: var(--vt-c-text-light-2);

    --color-primary: var(--vt-c-purple);
    --color-primary-alpha: var(--vt-c-purple-alpha);
    --color-primary-lighter: var(--vt-c-purple-lighter);
    --color-primary-lightest: var(--vt-c-purple-lightest);
    --color-primary-dark: var(--vt-c-purple-dark);
    --color-primary-darker: var(--vt-c-purple-darker);
    --color-primary-darkest: var(--vt-c-purple-darkest);
    --color-primary-darkest-alpha: var(--vt-c-purple-darkest-alpha);
    --color-primary-soft: var(--vt-c-purple-soft);
    --color-primary-mute: var(--vt-c-purple-mute);
    

    --section-gap: 160px;
}


:root.dark-theme {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
    --color-text-light: var(--vt-c-text-dark-1);
}